<h5>Functional Typescript</h5>
<ul class="no-bullets">
    <li>
        <a href="{% post_url 2020-03-26-domain-modeling-made-functional-with %}">Domain Modeling Made Functional With Typescript</a>
    </li>
    <li>
        <a href="{% post_url 2020-03-25-converting-f-types-to-typescript %}">Converting F# Types To Typescript</a>
    </li>
</ul>
<h5>Recent Posts</h5>
<ul class="no-bullets">
    {% for post in site.posts limit:5 %}
        <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    <li><a href="/archives.html">> Archives</a></li>
</ul>