$primary-color: #bdbfc6;
$active-link-color: #ffffff;
$link-color: rgb(255, 198, 198);
$accent-color: #fb0300;

body {
    background-color: rgba(255, 255, 255, 0.934);
}

main > .container {
    padding: 420px 15px 0;
}

.footer {
    background-color: #f5f5f5;

    & > .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

ul {
    &.no-bullets {
        list-style-type: none;
        padding-inline-start: 0;
    }

    &.archive-list {
        padding-inline-start: 1em;
    }
}

.twitter-link, .twitter-link:hover {
    color: #1da1f2;
}

.github-link, .github-link:hover {
    color: #000000;
}

.instagram-link, .instagram-link:hover {
    color: #3f729b;
}

div.highlighter-rouge {
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    padding: 10px;
}

p {
    margin-top: 1rem;
}

li > a.active, li > a:hover {
    color: $accent-color;
}

li > a {
    color: darken($primary-color, 30%);
}

.banner {
    background-image: url("/assets/images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 1);
    height: 315px;
    top: 0;
    transition: top 0.2s ease-in-out;

    &.nav-up {
        top: -315px;
    }
}

.navbar {
    background-color: $accent-color;
    transition: top 0.2s ease-in-out;
    
    &.fixed-top {
        &.nav-up {
            top: 0;
            border-top: 0;
        }
        &.nav-down {
            top: 315px;
            border-top: 5px solid rgba(255, 255, 255, 1);
        }
    }

    .navbar-nav .nav-item {
        &.active .nav-link, .nav-link:hover {
            color: $active-link-color;
        }

        .nav-link {
            color: $link-color;
        }
    }

    .navbar-toggler {
        color: $primary-color;
    }
}